@using Brewlogger_Blz.Models;
@using System.Text
@using System.Text.Json
@using Brewlogger_Blz.Components.Pages
@inject HttpClient Http;

<article class="rounded-md bg-blue-50 p-4">
    <div class="flex justify-center w-full ml-1/2">
        <figure class="flex-shrink-0">
            <svg class="h-5 w-5 text-blue-400" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                <path fill-rule="evenodd" d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-7-4a1 1 0 11-2 0 1 1 0 012 0zM9 9a.75.75 0 000 1.5h.253a.25.25 0 01.244.304l-.459 2.066A1.75 1.75 0 0010.747 15H11a.75.75 0 000-1.5h-.253a.25.25 0 01-.244-.304l.459-2.066A1.75 1.75 0 009.253 9H9z" clip-rule="evenodd"/>
            </svg>
        </figure>
        <p class="text-sm text-blue-700">Form Status: @_status</p>
    </div>
</article>

<EditForm Model="@NewBrewlog" FormName="Brewlog Form" OnValidSubmit="HandleValidSubmit" class="flex flex-col w-1/2 mx-auto mt-20 gap-3">
    <img class="mx-auto w-52 h-52 rounded-full object-cover" src="@CurrentBrewer!.ImageUrl" alt="Image of @CurrentBrewer.Name">
    <h4 id="brewerName" class="mx-auto text-2xl">@CurrentBrewer.Name</h4>
    <p class="text-center mx-auto mb-2 text-sm text-gray-600">@CurrentBrewer.Description</p>

    <label for="coffeeName">Coffee Name:</label>
    <InputText id="coffeeName" placeholder="Guatemala Light Roast" @bind-Value="NewBrewlog.CoffeeName" class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"/>
    <label for="dose" class="block text-sm font-medium leading-6 text-gray-900">Dose (grams):</label>
    <InputNumber id="dose" @bind-Value="NewBrewlog.Dose" class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"/>
    <label for="grind" class="block text-sm font-medium leading-6 text-gray-900">Grind:</label>
    <InputText id="grind" placeholder="Pre-ground - Medium" @bind-Value="NewBrewlog.Grind" class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"/>
    <label for="roast" class="block text-sm font-medium leading-6 text-gray-900">Roast:</label>
    <InputText id="roast" placeholder="Light Roast" @bind-Value="NewBrewlog.Roast" class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"/>
    <label for="ratio" class="block text-sm font-medium leading-6 text-gray-900">Brew Ratio:</label>
    <InputSelect id="ratio" @bind-Value="NewBrewlog.BrewRatio" class="mt-2 block w-full rounded-md border-0 py-1.5 pl-3 pr-10 text-gray-900 ring-1 ring-inset ring-gray-300 focus:ring-2 focus:ring-indigo-600 sm:text-sm sm:leading-6">
        <option>Select Brew Ratio</option>
        @for (int i = 7; i < 21; i++)
        {
            <option value="@i">1:@i</option>
        }
    </InputSelect>
    <label for="rating" class="block text-sm font-medium leading-6 text-gray-900">Rating:</label>
    <InputSelect id="rating" @bind-Value="NewBrewlog.Rating" class="mt-2 block w-full rounded-md border-0 py-1.5 pl-3 pr-10 text-gray-900 ring-1 ring-inset ring-gray-300 focus:ring-2 focus:ring-indigo-600 sm:text-sm sm:leading-6">
        @for (int i = 0; i < 6; i++)
        {
            <option value="@i">@i</option>
        }
    </InputSelect>
    <label for="notes" class="block text-sm font-medium leading-6 text-gray-900">Notes</label>
    <InputTextArea id="notes" rows="2" placeholder="Using Brewlogger Recipe" @bind-Value="NewBrewlog.Notes" class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"/>

    <button type="submit" class="rounded-md bg-indigo-500 px-3 py-2 mx-auto w-20 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">Submit</button>
</EditForm>

@code {
    [Parameter] public Brewer? CurrentBrewer { get; set; }

    [SupplyParameterFromForm] public Brewlog NewBrewlog { get; set; } = new();

    private string _status = "Not submitted";

    protected override void OnParametersSet()
    {
        if (CurrentBrewer == null) return;
        NewBrewlog.BrewerUsed = CurrentBrewer.Name;
        NewBrewlog.Dose = CurrentBrewer.StartingDose;
        NewBrewlog.BrewRatio = CurrentBrewer.StartingRatio;
    }

    protected async Task HandleValidSubmit()
    {
        string jsonContent = JsonSerializer.Serialize(NewBrewlog);

        HttpRequestMessage request = new(HttpMethod.Post, "/api/brewlogs");

        const string accessToken = "replace-this";

        request.Headers.Authorization = new System.Net.Http.Headers.AuthenticationHeaderValue("Bearer", accessToken);
        request.Headers.Add("X-Audience", "http://localhost:7115");

        request.Content = new StringContent(jsonContent, Encoding.UTF8, "application/json");

        try
        {
            HttpResponseMessage response = await Http.SendAsync(request);

            if (!response.IsSuccessStatusCode)
            {
                _status = "Error occurred: " + response.ReasonPhrase;
            }
            else
            {
                _status = "Form submitted";
            }
        }
        catch (Exception e)
        {
            _status = "Failed to post brewlog: " + e.Message;
        }
    }

}